<GameData>
	<!-- Fake Painting -->
	<CityEvents>
		<Row>
			<Type>CITY_EVENT_FAKE_PAINTING</Type>
			<Description>TXT_KEY_CITY_EVENT_FAKE_PAINTING_DESCRIPTION</Description>
			<Help>TXT_KEY_CITY_EVENT_FAKE_PAINTING_HELP</Help>
			<NumChoices>3</NumChoices>
			<RandomChance>10</RandomChance>
			<IsOneShot>true</IsOneShot>
			<RequiredBuildingClass>BUILDINGCLASS_MUSEUM</RequiredBuildingClass>
			<PrereqTech>TECH_ATOMIC_THEORY</PrereqTech>
			<EventCooldown>25</EventCooldown>
			<RandomChanceDelta>1</RandomChanceDelta>
		</Row>
	</CityEvents>
	<CityEventChoices>
		<Row>
			<Type>CITY_EVENT_FAKE_PAINTING_CHOICE_1</Type>
			<Description>TXT_KEY_CITY_EVENT_FAKE_PAINTING_DESCRIPTION_CHOICE_1</Description>
			<Help>TXT_KEY_CITY_EVENT_FAKE_PAINTING_HELP_CHOICE_1</Help>
			<EraScaling>true</EraScaling>
			<RequiredBuildingClass>BUILDINGCLASS_ARTISTS_GUILD</RequiredBuildingClass>
		</Row>
		<Row>
			<Type>CITY_EVENT_FAKE_PAINTING_CHOICE_2</Type>
			<Help>TXT_KEY_CITY_EVENT_FAKE_PAINTING_HELP_CHOICE_2</Help>
			<Description>TXT_KEY_CITY_EVENT_FAKE_PAINTING_DESCRIPTION_CHOICE_2</Description>

		</Row>
		<Row>
			<Type>CITY_EVENT_FAKE_PAINTING_CHOICE_3</Type>
			<Help>TXT_KEY_CITY_EVENT_FAKE_PAINTING_HELP_CHOICE_3</Help>
			<Description>TXT_KEY_CITY_EVENT_FAKE_PAINTING_DESCRIPTION_CHOICE_3</Description>
			<RequiredPolicy>POLICY_CULTURAL_DIPLOMACY</RequiredPolicy>
		</Row>
	</CityEventChoices>
	<CityEvent_ParentEvents>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_1</CityEventChoiceType>
			<CityEventType>CITY_EVENT_FAKE_PAINTING</CityEventType>
		</Row>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_2</CityEventChoiceType>
			<CityEventType>CITY_EVENT_FAKE_PAINTING</CityEventType>
		</Row>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_3</CityEventChoiceType>
			<CityEventType>CITY_EVENT_FAKE_PAINTING</CityEventType>
		</Row>
	</CityEvent_ParentEvents>
	<CityEventChoice_ResourceQuantity>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_2</CityEventChoiceType>
			<ResourceType>RESOURCE_GLASS</ResourceType>
			<Quantity>1</Quantity>
		</Row>
	</CityEventChoice_ResourceQuantity>
	<CityEventChoice_GreatPersonPoints>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_1</CityEventChoiceType>
			<SpecialistType>SPECIALIST_ARTIST</SpecialistType>
			<Points>75</Points>
		</Row>
	</CityEventChoice_GreatPersonPoints>
	<CityEventChoice_InstantYield>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_1</CityEventChoiceType>
			<YieldType>YIELD_GOLD</YieldType>
			<Yield>-75</Yield>
		</Row>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_2</CityEventChoiceType>
			<YieldType>YIELD_CULTURE</YieldType>
			<Yield>-500</Yield>
		</Row>
	</CityEventChoice_InstantYield>
	<CityEventChoiceFlavors>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_2</CityEventChoiceType>
			<FlavorType>FLAVOR_CULTURE</FlavorType>
			<Flavor>20</Flavor>
		</Row>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FAKE_PAINTING_CHOICE_3</CityEventChoiceType>
			<FlavorType>FLAVOR_HAPPINESS</FlavorType>
			<Flavor>20</Flavor>
		</Row>
	</CityEventChoiceFlavors>
	<!-- War Materials -->
	<Events>
		<Row>
			<Type>EVENT_WAR_MATERIALS</Type>
			<Description>TXT_KEY_EVENT_WAR_MATERIALS_DESCRIPTION</Description>
			<Help>TXT_KEY_EVENT_WAR_MATERIALS_HELP</Help>
			<NumChoices>4</NumChoices>
			<RandomChance>45</RandomChance>
			<EventCooldown>75</EventCooldown>
			<IsOneShot>true</IsOneShot>
			<RequiredPolicy>POLICY_PHILANTHROPY</RequiredPolicy>
			<RandomChanceDelta>1</RandomChanceDelta>
			<EraScaling>true</EraScaling>
		</Row>
	</Events>
	<EventChoices>
		<Row>
			<Type>EVENT_WAR_MATERIALS_CHOICE_1</Type>
			<Description>TXT_KEY_EVENT_WAR_MATERIALS_DESCRIPTION_CHOICE_1</Description>
			<Help>TXT_KEY_EVENT_WAR_MATERIALS_HELP_CHOICE_1</Help>
			<EraScaling>true</EraScaling>
		</Row>
		<Row>
			<Type>EVENT_WAR_MATERIALS_CHOICE_2</Type>
			<Help>TXT_KEY_EVENT_WAR_MATERIALS_HELP_CHOICE_2</Help>
			<Description>TXT_KEY_EVENT_WAR_MATERIALS_DESCRIPTION_CHOICE_2</Description>
			<RequiredAnywhereBuildingClass>BUILDINGCLASS_BANK</RequiredAnywhereBuildingClass>
		</Row>
		<Row>
			<Type>EVENT_WAR_MATERIALS_CHOICE_3</Type>
			<Help>TXT_KEY_EVENT_WAR_MATERIALS_HELP_CHOICE_3</Help>
			<Description>TXT_KEY_EVENT_WAR_MATERIALS_DESCRIPTION_CHOICE_3</Description>
		</Row>
		<Row>
			<Type>EVENT_WAR_MATERIALS_CHOICE_4</Type>
			<Help>TXT_KEY_EVENT_WAR_MATERIALS_HELP_CHOICE_4</Help>
			<Description>TXT_KEY_EVENT_WAR_MATERIALS_DESCRIPTION_CHOICE_4</Description>
			<EventPromotion>PROMOTION_AMBUSH_1</EventPromotion>
		</Row>
	</EventChoices>
	<Event_ParentEvents>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_1</EventChoiceType>
			<EventType>EVENT_WAR_MATERIALS</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_2</EventChoiceType>
			<EventType>EVENT_WAR_MATERIALS</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_3</EventChoiceType>
			<EventType>EVENT_WAR_MATERIALS</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_4</EventChoiceType>
			<EventType>EVENT_WAR_MATERIALS</EventType>
		</Row>
	</Event_ParentEvents>
	<EventChoice_FreeUnitClasses>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_2</EventChoiceType>
			<UnitClassType>UNITCLASS_ENVOY</UnitClassType>
			<Quantity>1</Quantity>
		</Row>
	</EventChoice_FreeUnitClasses>
	<EventChoice_ResourceQuantity>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_1</EventChoiceType>
			<ResourceType>RESOURCE_IRON</ResourceType>
			<Quantity>2</Quantity>
		</Row>
	</EventChoice_ResourceQuantity>
	<EventChoice_InstantYield>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_1</EventChoiceType>
			<YieldType>YIELD_GOLD</YieldType>
			<Yield>200</Yield>
		</Row>
	</EventChoice_InstantYield>
	<EventChoice_BuildingClassYieldModifier>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_3</EventChoiceType>
			<BuildingClassType>BUILDINGCLASS_CHANCERY</BuildingClassType>
			<YieldType>YIELD_GOLD</YieldType>
			<Modifier>5</Modifier>
		</Row>
	</EventChoice_BuildingClassYieldModifier>
	<EventChoiceFlavors>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_1</EventChoiceType>
			<FlavorType>FLAVOR_OFFENSE</FlavorType>
			<Flavor>20</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_2</EventChoiceType>
			<FlavorType>FLAVOR_DIPLOMACY</FlavorType>
			<Flavor>20</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_3</EventChoiceType>
			<FlavorType>FLAVOR_GOLD</FlavorType>
			<Flavor>20</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_4</EventChoiceType>
			<FlavorType>FLAVOR_MILITARY_TRAINING</FlavorType>
			<Flavor>20</Flavor>
		</Row>
	</EventChoiceFlavors>
	<EventChoice_Notification>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_1</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_1</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_1_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_2</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_2</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_2_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_3</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_3</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_3_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
		<Row>
			<EventChoiceType>EVENT_WAR_MATERIALS_CHOICE_4</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_4</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_WAR_MATERIALS_CHOICE_4_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
	</EventChoice_Notification>
	<!-- Freedom Doctrine -->
	<Events>
		<Row>
			<Type>EVENT_FREEDOM_DOCTRINE</Type>
			<Description>TXT_KEY_EVENT_FREEDOM_DOCTRINE_DESCRIPTION</Description>
			<Help>TXT_KEY_EVENT_FREEDOM_DOCTRINE_HELP</Help>
			<NumChoices>3</NumChoices>
			<RandomChance>40</RandomChance>
			<EventCooldown>75</EventCooldown>
			<IsOneShot>true</IsOneShot>
			<RequiredPolicy>POLICY_COVERT_ACTION</RequiredPolicy>
			<RandomChanceDelta>3</RandomChanceDelta>
		</Row>
	</Events>
	<EventChoices>
		<Row>
			<Type>EVENT_FREEDOM_DOCTRINE_CHOICE_1</Type>
			<Description>TXT_KEY_EVENT_FREEDOM_DOCTRINE_DESCRIPTION_CHOICE_1</Description>
			<Help>TXT_KEY_EVENT_FREEDOM_DOCTRINE_HELP_CHOICE_1</Help>
			<RequiredAnywhereBuildingClass>BUILDINGCLASS_AIRPORT</RequiredAnywhereBuildingClass>
		</Row>
		<Row>
			<Type>EVENT_FREEDOM_DOCTRINE_CHOICE_2</Type>
			<Help>TXT_KEY_EVENT_FREEDOM_DOCTRINE_HELP_CHOICE_2</Help>
			<Description>TXT_KEY_EVENT_FREEDOM_DOCTRINE_DESCRIPTION_CHOICE_2</Description>
			<RequiredNoActiveEventChoiceOtherPlayer>EVENT_FREEDOM_DOCTRINE_CHOICE_2</RequiredNoActiveEventChoiceOtherPlayer>
		</Row>
		<Row>
			<Type>EVENT_FREEDOM_DOCTRINE_CHOICE_3</Type>
			<Help>TXT_KEY_EVENT_FREEDOM_DOCTRINE_HELP_CHOICE_3</Help>
			<Description>TXT_KEY_EVENT_FREEDOM_DOCTRINE_DESCRIPTION_CHOICE_3</Description>
			<RequiredAnywhereBuildingClass>BUILDINGCLASS_POLICE_STATION</RequiredAnywhereBuildingClass>
		</Row>
	</EventChoices>
	<Event_ParentEvents>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_1</EventChoiceType>
			<EventType>EVENT_FREEDOM_DOCTRINE</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_2</EventChoiceType>
			<EventType>EVENT_FREEDOM_DOCTRINE</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_3</EventChoiceType>
			<EventType>EVENT_FREEDOM_DOCTRINE</EventType>
		</Row>
	</Event_ParentEvents>
	<EventChoice_ResourceQuantity>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_1</EventChoiceType>
			<ResourceType>RESOURCE_PAPER</ResourceType>
			<Quantity>4</Quantity>
		</Row>
	</EventChoice_ResourceQuantity>
	<EventChoice_BuildingClassYieldModifier>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_1</EventChoiceType>
			<BuildingClassType>BUILDINGCLASS_AIRPORT</BuildingClassType>
			<YieldType>YIELD_CULTURE</YieldType>
			<Modifier>5</Modifier>
		</Row>
	</EventChoice_BuildingClassYieldModifier>
	<EventChoice_CityUnhappinessNeedMod>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_3</EventChoiceType>
			<YieldType>YIELD_GOLD</YieldType>
			<Yield>-10</Yield>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_3</EventChoiceType>
			<YieldType>YIELD_SCIENCE</YieldType>
			<Yield>-10</Yield>
		</Row>
	</EventChoice_CityUnhappinessNeedMod>
	<EventChoiceFlavors>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_1</EventChoiceType>
			<FlavorType>FLAVOR_CULTURE</FlavorType>
			<Flavor>10</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_1</EventChoiceType>
			<FlavorType>FLAVOR_DIPLOMACY</FlavorType>
			<Flavor>10</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_2</EventChoiceType>
			<FlavorType>FLAVOR_ESPIONAGE</FlavorType>
			<Flavor>20</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_3</EventChoiceType>
			<FlavorType>FLAVOR_HAPPINESS</FlavorType>
			<Flavor>20</Flavor>
		</Row>
	</EventChoiceFlavors>
	<EventChoice_Notification>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_1</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_FREEDOM_DOCTRINE_CHOICE_1</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_FREEDOM_DOCTRINE_CHOICE_1_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
		<Row>
			<EventChoiceType>EVENT_FREEDOM_DOCTRINE_CHOICE_2</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_FREEDOM_DOCTRINE_CHOICE_2</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_FREEDOM_DOCTRINE_CHOICE_2_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
	</EventChoice_Notification>
	<!-- Freedom Partisans vs Autocracy -->
	<CityEvents>
		<Row>
			<Type>CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY</Type>
			<Description>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_DESCRIPTION</Description>
			<Help>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_HELP</Help>
			<NumChoices>1</NumChoices>
			<RandomChance>100</RandomChance>
			<EventCooldown>25</EventCooldown>
			<MinimumCityPopulation>18</MinimumCityPopulation>
			<RandomChanceDelta>5</RandomChanceDelta>
			<IsUnhappy>true</IsUnhappy>
			<RequiredIdeology>POLICY_BRANCH_ORDER</RequiredIdeology>
			<RequiresOccupied>true</RequiresOccupied>
			<RequiredActivePlayerEventChoiceOtherPlayer>EVENT_FREEDOM_DOCTRINE_CHOICE_2</RequiredActivePlayerEventChoiceOtherPlayer>
		</Row>
	</CityEvents>
	<CityEventChoices>
		<Row>
			<Type>CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_CHOICE_1</Type>
			<Description>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_DESCRIPTION_CHOICE_1</Description>
			<Help>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_HELP_CHOICE_1</Help>
			<RandomBarbarianSpawn>2</RandomBarbarianSpawn>
		</Row>
	</CityEventChoices>
	<CityEvent_ParentEvents>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_CHOICE_1</CityEventChoiceType>
			<CityEventType>CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY</CityEventType>
		</Row>
	</CityEvent_ParentEvents>
	<CityEventChoice_Notification>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_CHOICE_1</CityEventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_CHOICE_1</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_CITY_EVENT_FREEDOM_PARTISANS_AUTOCRACY_CHOICE_1_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
	</CityEventChoice_Notification>
	<!-- Freedom Partisans vs Order -->
	<CityEvents>
		<Row>
			<Type>CITY_EVENT_FREEDOM_PARTISANS_ORDER</Type>
			<Description>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_ORDER_DESCRIPTION</Description>
			<Help>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_ORDER_HELP</Help>
			<NumChoices>1</NumChoices>
			<RandomChance>100</RandomChance>
			<EventCooldown>25</EventCooldown>
			<MinimumCityPopulation>18</MinimumCityPopulation>
			<RandomChanceDelta>5</RandomChanceDelta>
			<IsUnhappy>true</IsUnhappy>
			<RequiredIdeology>POLICY_BRANCH_ORDER</RequiredIdeology>
			<RequiresOccupied>true</RequiresOccupied>
			<RequiredActivePlayerEventChoiceOtherPlayer>EVENT_FREEDOM_DOCTRINE_CHOICE_2</RequiredActivePlayerEventChoiceOtherPlayer>
		</Row>
	</CityEvents>
	<CityEventChoices>
		<Row>
			<Type>CITY_EVENT_FREEDOM_PARTISANS_ORDER_CHOICE_1</Type>
			<Description>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_ORDER_DESCRIPTION_CHOICE_1</Description>
			<Help>TXT_KEY_CITY_EVENT_FREEDOM_PARTISANS_ORDER_HELP_CHOICE_1</Help>
			<RandomBarbarianSpawn>2</RandomBarbarianSpawn>
		</Row>
	</CityEventChoices>
	<CityEvent_ParentEvents>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FREEDOM_PARTISANS_ORDER_CHOICE_1</CityEventChoiceType>
			<CityEventType>CITY_EVENT_FREEDOM_PARTISANS_ORDER</CityEventType>
		</Row>
	</CityEvent_ParentEvents>
	<CityEventChoice_Notification>
		<Row>
			<CityEventChoiceType>CITY_EVENT_FREEDOM_PARTISANS_ORDER_CHOICE_1</CityEventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_CITY_EVENT_FREEDOM_PARTISANS_ORDER_CHOICE_1</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_CITY_EVENT_FREEDOM_PARTISANS_ORDER_CHOICE_1_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
	</CityEventChoice_Notification>
	<!-- Double Agents -->
	<Events>
		<Row>
			<Type>EVENT_DOUBLE_AGENTS</Type>
			<Description>TXT_KEY_EVENT_DOUBLE_AGENTS_DESCRIPTION</Description>
			<Help>TXT_KEY_EVENT_DOUBLE_AGENTS_HELP</Help>
			<NumChoices>3</NumChoices>
			<RandomChance>40</RandomChance>
			<EventCooldown>75</EventCooldown>
			<IsOneShot>true</IsOneShot>
			<RequiredPolicy>POLICY_DOUBLE_AGENTS</RequiredPolicy>
			<RandomChanceDelta>3</RandomChanceDelta>
		</Row>
	</Events>
	<EventChoices>
		<Row>
			<Type>EVENT_DOUBLE_AGENTS_CHOICE_1</Type>
			<Description>TXT_KEY_EVENT_DOUBLE_AGENTS_DESCRIPTION_CHOICE_1</Description>
			<Help>TXT_KEY_EVENT_DOUBLE_AGENTS_HELP_CHOICE_1</Help>
			<EventPolicy>POLICY_COVERT_ACTION</EventPolicy>
			<EventDuration>50</EventDuration>
			<Expires>true</Expires>
		</Row>
		<Row>
			<Type>EVENT_DOUBLE_AGENTS_CHOICE_2</Type>
			<Help>TXT_KEY_EVENT_DOUBLE_AGENTS_HELP_CHOICE_2</Help>
			<Description>TXT_KEY_EVENT_DOUBLE_AGENTS_DESCRIPTION_CHOICE_2</Description>
			<PrereqTech>TECH_COMPUTERS</PrereqTech>
		</Row>
		<Row>
			<Type>EVENT_DOUBLE_AGENTS_CHOICE_3</Type>
			<Help>TXT_KEY_EVENT_DOUBLE_AGENTS_HELP_CHOICE_3</Help>
			<Description>TXT_KEY_EVENT_DOUBLE_AGENTS_DESCRIPTION_CHOICE_3</Description>
			<FreeGreatPeople>1</FreeGreatPeople>
		</Row>
	</EventChoices>
	<Event_ParentEvents>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_1</EventChoiceType>
			<EventType>EVENT_DOUBLE_AGENTS</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_2</EventChoiceType>
			<EventType>EVENT_DOUBLE_AGENTS</EventType>
		</Row>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_3</EventChoiceType>
			<EventType>EVENT_DOUBLE_AGENTS</EventType>
		</Row>
	</Event_ParentEvents>
	<CityEventChoice_InstantYield>
		<Row>
			<CityEventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_3</CityEventChoiceType>
			<YieldType>YIELD_GOLDEN_AGE_POINTS</YieldType>
			<Yield>-500</Yield>
		</Row>
	</CityEventChoice_InstantYield>
	<EventChoice_BuildingClassYieldModifier>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_2</EventChoiceType>
			<BuildingClassType>BUILDINGCLASS_WIRE_SERVICE</BuildingClassType>
			<YieldType>YIELD_SCIENCE</YieldType>
			<Modifier>10</Modifier>
		</Row>
	</EventChoice_BuildingClassYieldModifier>
	<EventChoiceFlavors>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_1</EventChoiceType>
			<FlavorType>FLAVOR_ESPIONAGE</FlavorType>
			<Flavor>10</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_2</EventChoiceType>
			<FlavorType>FLAVOR_SCIENCE</FlavorType>
			<Flavor>10</Flavor>
		</Row>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_3</EventChoiceType>
			<FlavorType>FLAVOR_GREAT_PEOPLE</FlavorType>
			<Flavor>10</Flavor>
		</Row>
	</EventChoiceFlavors>
	<EventChoice_Notification>
		<Row>
			<EventChoiceType>EVENT_DOUBLE_AGENTS_CHOICE_1</EventChoiceType>
			<NotificationType>NOTIFICATION_MINOR_QUEST</NotificationType>
			<Description>TXT_KEY_NOTIFICATION_EVENT_DOUBLE_AGENTS_CHOICE_1</Description>
			<ShortDescription>TXT_KEY_NOTIFICATION_EVENT_DOUBLE_AGENTS_CHOICE_1_S</ShortDescription>
			<IsWorldEvent>true</IsWorldEvent>
		</Row>
	</EventChoice_Notification>
</GameData>