#ignore everything except files used in the mod
*
!*/
!*.cpp
!*.h
!*.sql
!*.xml
!*.lua

!*.civ5mod
!*.civ5pkg
!*.civ5proj
!*.civ5proj
!*.civ5sln
!*.civ5sln
!*.dds
!*.def
!*.dll
!*.filters
!*.ftsxml
!*.fxsxml
!*.ggxml
!*.gitattributes
!*.gr2
!*.hpp
!*.ico
!*.inl
!*.iss
!*.lib
!*.md
!*.modinfo
!*.mp3
!*.natvis
!*.py
!*.rc
!*.rtf
!*.sln
!*.txt
!*.vcxproj

#ignore output from Visual Studio, ModBuddy, and Inno
.vs/
BuildOutput/
BuildTemp/
Build/
Packages/
Civilization IV Diplomatic Features - CP/Build/
Civilization IV Diplomatic Features - CP/Packages/
Vox Populi Installer Files/(1) Community Patch/
Vox Populi Installer Files/(1) Community Patch (v 100)/
Vox Populi Installer Files/(2) Community Balance Overhaul/
Vox Populi Installer Files/(2) Community Balance Overhaul (v 14)/
Vox Populi Installer Files/(3) CSD for VP/
Vox Populi Installer Files/(3) CSD for VP (v 29)/
Vox Populi Installer Files/(4) Civ IV Diplomatic Features/
Vox Populi Installer Files/(4) Civ IV Diplomatic Features (v 12)/
Vox Populi Installer Files/(5) More Luxuries/
Vox Populi Installer Files/(5) More Luxuries (v 156)/
Vox Populi Installer Files/(6a) Vox Populi - Compatibility Files (EUI)/
Vox Populi Installer Files/(6a) Vox Populi - Compatibility Files (EUI) (v 1)/
Vox Populi Installer Files/(6b) Vox Populi - Compatibility Files (No-EUI)/
Vox Populi Installer Files/(6b) Vox Populi - Compatibility Files (No-EUI) (v 1)/
Vox Populi Installer Files/(6c) 43 Civs Community Patch/
Vox Populi Installer Files/(6c) 43 Civs Community Patch (v 1)/
Vox Populi Installer Files/(7a) Promotion Icons for VP/
Vox Populi Installer Files/(7b) UI - Promotion Tree for VP/
Vox Populi Installer Files/CP LUA/LUA/
Vox Populi Installer Files/CBO LUA/LUA/
Vox Populi Installer Files/Output/

#just to be safe, let's ignore the next 10 releases too
Vox Populi Installer Files/(1) Community Patch (v 101)/
Vox Populi Installer Files/(1) Community Patch (v 102)/
Vox Populi Installer Files/(1) Community Patch (v 103)/
Vox Populi Installer Files/(1) Community Patch (v 104)/
Vox Populi Installer Files/(1) Community Patch (v 105)/
Vox Populi Installer Files/(1) Community Patch (v 106)/
Vox Populi Installer Files/(1) Community Patch (v 107)/
Vox Populi Installer Files/(1) Community Patch (v 108)/
Vox Populi Installer Files/(1) Community Patch (v 109)/
Vox Populi Installer Files/(1) Community Patch (v 110)/