#ignore everything except h, cpp, rc and vjproject files
*
!*/
!*.h
!*.hpp
!*.c
!*.cpp
!*.inl
!*.rc
!*.def
!*.vcxproj
!*.vcproj
!*.sln
!*.filters
!*.gitattributes
!*.xml
!*.sql
!*.lua
!*.civ5mod
!*.civ5proj
!*.civ5sln
!*.lib
!*.dll
!*.txt
!*.py
BuildOutput/
BuildTemp/