<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.60.0.0" targetFramework="native" />
  <package id="boost_atomic-vc90" version="1.60.0.0" targetFramework="native" />
  <package id="boost_chrono-vc90" version="1.60.0.0" targetFramework="native" />
  <package id="boost_date_time-vc90" version="1.60.0.0" targetFramework="native" />
  <package id="boost_system-vc90" version="1.60.0.0" targetFramework="native" />
  <package id="boost_thread-vc90" version="1.60.0.0" targetFramework="native" />
</packages>